body{
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.app-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #FF6600; 
  }

  /* Estilos para o componente de login/logout */
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-self: center;
  padding: 20px;
}

button {
  background-color: #FF6600;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e65c00; 
}

span {
  color: #d86010;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

ng-template {
  display: inline-block;
}
